# UKB HF phenotyping case count

Last updated:

In [1]:
Sys.Date()

[1] "2020-10-23"

In [2]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

## Step 1 Phenotyping

In [3]:
df_pheno_step2 <- read_tsv("../results/ukb_hf_pheno_derived.txt")
df_pheno_step2 %>% 
  pivot_longer(MI:secondaryHF, names_to = "pheno", values_to = "status") %>% 
  group_by(pheno, status) %>% 
  summarise(n = n()) %>% 
  pivot_wider(names_from = "status", values_from = "n") %>% 
  rename(no_diagnosis = `0`, with_diagnosis = `1`)

Parsed with column specification:
cols(
  eid = col_double(),
  MI = col_double(),
  LVSD = col_double(),
  AF = col_double(),
  HF = col_double(),
  congHD = col_double(),
  valveHD = col_double(),
  secondaryHF = col_double(),
  lvef = col_double(),
  pheno1 = col_character(),
  pheno2 = col_character(),
  pheno3 = col_character(),
  pheno4 = col_character(),
  pheno5 = col_character()
)

`summarise()` regrouping output by 'pheno' (override with `.groups` argument)

  pheno       no_diagnosis with_diagnosis
1 AF          392963       21800
2 congHD      413345        1418
3 HF          405772        8991
4 LVSD        411542        3221
5 MI          389170       25593
6 secondaryHF 385838       28925
7 valveHD     411205        3558

## Step 2 Phenotyping

In [5]:
df_pheno_step2 %>% 
  pivot_longer(starts_with("pheno"), names_to = "pheno", values_to = "status") %>% 
  group_by(pheno, status) %>% 
  summarise(n = n()) %>% 
  pivot_wider(names_from = "status", values_from = "n") %>% 
  mutate(across(case:exclude, replace_na, 0))

`summarise()` regrouping output by 'pheno' (override with `.groups` argument)

  pheno  case control exclude
1 pheno1 8991 405772      0
2 pheno2 4065 381773  28925
3 pheno3  533 381773  32457
4 pheno4   40 381773  32950
5 pheno5 2294 380012  32457